:root{
    --background-color:#fff;
    --firstColor:#F5EEF8;
    --sec-color:#8E44AD;
    --third-color:#AF7AC5;
    --forth-color:#4A235A;
    --fif-color: #A813B7;
    --six-color:#D618E7;
}

body{
    background-color: var(--firstColor);
}

.container{
    max-width: 50%;
    margin: 120px auto;
    display: block;
}

header{
    background-color: var(--background-color);
    margin-bottom: 1rem;
    padding: 0.2rem 0 1rem 1rem;
    color: var(--forth-color);
}


.txt-input{
    border: 2px solid var(--six-color);
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
    outline-color: var(--sec-color);
}

.btn-input{
    border-radius: 1.5rem;
    outline-color: var(--sec-color);
    width: 7rem;
    height: 3rem;
    padding: 0.5rem;
    background-color: var(--third-color);
    font-weight: bold;
    box-shadow: 4px -4px 3px 0px grey;
    margin-left: 0.5rem;
}

main{
    background-color: var(--background-color);
    height: auto;
    margin-top: 5rem;
    padding: 0.5rem 0 0.5rem 0;
    border-left:5px solid var(--sec-color);
}

main div{
    padding-left: 15px;
    font-size: 20px;
    line-height: 1.5rem;
}

footer{
    margin-top: 1rem;
}

footer a{
    color: var(--fif-color);
}

#poem strong a{
    color: #4A235A;
}

small{
    color: darkgray;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
#third-header {
  animation: blink 1s step-start 0s infinite;
}